@charset"utf-8";

@font-face {
	font-family: Arial;
	src: url("../fotos/Buffied.ttf");
}

/*FORMATAÇÃO DE TEXTO*/

h1 {
	font-family: Arial;
	font-size: 400%;
}

h2 {
	font-family: Arial;
	color: white;
}

a {
	color: white;
	text-shadow: 2px 2px 2px black;
}

p {
	text-indent: 2%;
	text-align: justify;
}

.article h2 {
	background-color: darkblue;
	font-size: 35pt;
	color: white;
	padding: 5px 5px 5px 20px;
}

/*FORMATAÇÃO DE CORPO*/

#interface {
	width: 80%;
	margin: -25px auto 0px auto;
	background-color: black;
	background-image: url(../fotos/AgnoZ6a2.jpg);
	padding: 25px;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

body {
	background-color: black;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
	text-shadow: 3px 2px 3px black;
	font-family: sans-serif;
}

#corpo-site {
	padding-top: 30px;
}

#rodape {
	background-color: darkred;
	padding: 30px;
	text-align: center;
	left: 0;
	bottom: 0;
}

/*FORMATAÇÃO DE IMAGEM*/

#main-photo img {
	margin-top: -110px;
	width: 100%;
	height: auto;
}

.logo {
	text-align: right;
}

.logo img {
	width: 250px;
	height: auto;
}

figcaption {
	margin-bottom: 50px;
	margin-top: 5px;
}

.foto-personagem img {
  border: 8px solid white;
  box-shadow: 2px 2px 4px black;
  display: inline-block;
  margin-right: 25px;
  margin-left: 25px;
  width: 17%;
  height: 20%;
}

.profile-character-photo {
  border: 8px solid white;
  box-shadow: 2px 2px 4px black;
  margin: -80px 25px 0px 25px;
  max-width: 100%;
}

.profile-character-photo img {
	width: 220px;
}

.profile-villain-photo {
  border: 8px solid white;
  box-shadow: 2px 2px 4px black;
  margin: -80px 25px 0px 25px;
  max-width: 100%;
}

.profile-villain-photo img {
  width: 320px;
}

.buffy20anos img {
	border: 8px solid white;
 	box-shadow: 2px 2px 4px black;
 	display: inline-block;
}

.personagem  {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 20px 0px;
}

.personagem > figure {
  display: flex;
  flex-direction: row;
}

.villain-info  {
	display: flex;
	flex-direction: column;
	margin: 0px 0px 20px 0px;
}
  
.villain-info > figure {
  display: flex;
  flex-direction: row;
}

.photo-and-gif {
  display: flex;
  justify-content: right;
  margin: 0px 25px 20px 55px;
  display: inline-block;
  max-width: 100%;
}

.photo-and-gif img {
  border: 8px solid white;
  box-shadow: 2px 2px 4px black;
  width: 400px;
  height: auto;
  margin: 0px 50px 0 50px;
}

.foto-galeria img {
  width: 40%;
  height: 40%;
  border: 8px solid white;
  display: inline-block;
  margin-bottom: 50px;
}

/*FORMATAÇÃO DE MENU*/

#cabeçalho {
	border-bottom: 2px white solid;
	height: 260px;
	background-image: url('../fotos/buffy2002.jpg');
	background-repeat: no-repeat;
	background-position: center; 
}

#menu-site > ul {
	list-style: none;
  display: flex;
	flex-direction: row-reverse;
  flex-wrap: wrap;
  margin: -5px 30px 0px 0px;
}

#menu-site > ul > li {
	text-transform: none;
  margin: 5px;
	background-color: darkred;
	margin-bottom: 15px;
	box-shadow: 4px 4px 1px white;
	padding: 10px 23px 10px 23px;
	font-family: Arial;
	font-size: 169%;
	
}

#menu-site > ul > li:hover {
  box-shadow: 4px 4px 1px black;
  background-color: white;
  color: black;
  transition: 0.3s;
}

#menu-site > ul > li > a {
	transition: color 0.3s;
	text-shadow: 0px 0px 0px black;
}

#menu-site > ul > li > a:hover {
	color: black;
  text-shadow: 2px 2px 9px black;
}

#menu-site > ul > li > a:link {
	text-decoration: none;
}